.months-wrapper {
  display: inline-block;
  margin-top: 45px;
  width: 42%;
  padding: 0 50px 0 50px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: black;
}

h4 {
  width: 60%;
  display: inline-block;
}

.back-to-years {
  display: inline-block;
  float: right;
}